hr{
    border-top: 0.5rem dotted #1abc9c;
    margin: 1rem auto;
    width: 20%;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 5px;
}

.nav-item{
    padding-left: 15px;
}
.navbar-nav li a:hover{
    color: #1abc9c !important;
}

.footer-padding{
    padding-top: 30px;
}

.footer{
    text-align: center;
    position:fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #1abc9c;
}

.footer p{
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}

form label{
    font-weight: bolder;
    display: block;
}

.entry{
    margin-top: 10px;
    padding: 10px;
}
.entry:hover{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #b7fcee;
}

.new_entry_btn{
    color: black;
    text-decoration: none;
}
h3, p{
    display: inline-block;
}
.date{
    float: right;
    margin: 0;
}

.entry_btn{
    background-color: none;
    border: 2px solid #1abc9c;
    margin: 10px;
}
h5.date{
    margin-top: 10px;
}
.new_entry{
    background-color: #b7fcee;
    display: inline-block;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #1abc9c;
    font-weight: bold;
}
.new_entry:hover{
    background-color: #1abc9c;
}