<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Check it off</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="top_nabvar" aria-controls="top_nabvar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top_navbar">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">All</a>
          <a class="nav-link" href="#">Personal</a>
          <a class="nav-link" href="#">Work</a>
          <a class="nav-link" href="#">Shopping</a>
          <a class="nav-link" href="#">Wish List</a>
        </div>
      </div>
    </div>
  </nav>