<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-nav">
          <button class="all_lists active">All</button>
          <button class="personal_list">Personal</button>
          <button class="work_list">Work</button>
          <button class="shopping_list">Shopping</button>
          <button class="wish_list">Wish List</button>
        </div>
      </div>
  </nav>