<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO List</title>

    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <section>
        <div id="heading">
            <h4>Date: <span><%= day %></span></h4>
            <h1>TO-DO List</h1>
        </div>
        
        <div class="box">
            <% if (locals.items){ %>
                <% items.forEach((newItem)=>{ %>
                    <div class="item">
                        <input type="checkbox">
                        <p><%= newItem %></p>
                    </div>
                <% }) %>
            <% } %>
            <form action="/submit" method="post" class="item" autocomplete="off">
                <input type="text" name="newItem" placeholder="New Item">
                <button type="submit">+</button>
            </form>
        </div>
        
    </section>
    
</body>
</html>