<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>



<!-- Add new list -->
<form action="/addList" method="post">
    <p>Create a new list!</p>
    <label for="categories">Select a section for your list:</label>
    <select name="categories" id="categories">
        <option value="personal">Personal</option>
        <option value="work">Work</option>
        <option value="wishlist">Wishlist</option>
        <option value="shopping">Shopping</option>
    </select>
    <label for="addNewList">Choose a name</label>
    <input id="addNewList" type="text" name="newList" placeholder="New List" autocomplete="off">
    <button type="submit">+</button>
</form>



<%- include("partials/footer.ejs") %>