html{
    background-color: #FFD7C4;
    background-image: -webkit-linear-gradient(65deg, #FF9B50 50%, #FFBB5C 50%);
    min-height: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1{
    font-size: 300%;
    margin: 0;
}
span{
    text-decoration: underline;
    text-decoration-color: #C63D2F;
}

.box{
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child{
    border-bottom: 0;
}

input:checked+p{
    text-decoration: line-through;
    text-decoration-color: #FF9B50;
}

input[type="checkbox"]{
    margin: 5px 20px;
}

p{
    margin: 0;
    padding: 2%;
    font-size: medium;
    font-weight: 400;
    color: #C63D2F;
}

form{
    margin-left: 30px;
}

button{
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #C63D2F;
    color: white;
    font-size: xx-large;
    margin: 3%;
}

::placeholder{
    color: grey;
    opacity: 1;
}

input[type="text"]{
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: larger;
    font-weight: 600;
    width: 313px;
}

input[type="text"]:focus{
    outline: none;
    box-shadow: inset 0 -3px 0 0 #C63D2F;
}